body,
html,
* {
    margin: 0;
    padding: 0;
}

body,
html,
img,
.main_container {
    width: 100%;
    height: 100%;
}
html {
    scroll-behavior: smooth;
  }
:root {
    --mainBackgroundColor: #EEE3D6;
}

a {
    text-decoration: none;
    color: white
}

@font-face {
    font-family: "Roboto-Regular";
    src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: "Roboto-Medium";
    src: url('./assets/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: "Roboto-Bold";
    src: url('./assets/fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: "HelveticaInseratLTStd-Roman";
    src: url('./assets/fonts/HelveticaInseratLTStd-Roman.otf');
}

@font-face {
    font-family: "GothamProRegular";
    src: url('./assets/fonts/GothamProRegular.otf');
}

.flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.story_button,.try_again{
    background-color: black;
    border: none;
    width: 40%;
    padding: 2%;
    border-radius: 10px;
    font-size: 1.2vw;
    cursor: pointer;
    text-align: center;
}
.main_container {
    background-color: var(--mainBackgroundColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner_container {
    width: 55%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.border_inner_container {
    border-left: 2px solid #000000a6;
    border-right: 2px solid #000000a6;
    height: 90%;
}

.intro_img {
    width: 40%;
}

.intro1 p,
.intro2 p {
    font-family: Roboto-Regular;
    text-align: center;
    font-size: 1.2vw;
    line-height: 1.7rem;
}

.intro1 p {
    letter-spacing: .3rem;
    margin-top: 5%;
}

.intro3 p {
    text-align: center;
    font-family: Roboto-Medium;
    font-size: 2vw;
    line-height: 3rem;
    letter-spacing: .5rem;
}

.story {
    justify-content: space-between !important;
}

.story div {
    width: 90%;
}

.chapter_title,
.chapter_buttons {
    display: flex;
    justify-content: space-between;
}
.how_does_shelter_work{
    width: 75% !important;
}
.my_choice_image{
    width: 50% !important;
}
.chapter_image {
    width: 25% !important;
}

.chapter_description {
    display: flex;
    justify-content: space-between;
}

.chapter_description p {
    width: 48%;
    line-height: 1.5rem;
}

.chapter_main_title {
    font-family: HelveticaInseratLTStd-Roman;
    font-size: 2vw;
}

.chapter_title p:nth-child(2),
.chapter_description {
    font-family: GothamProRegular;
}

.chapter_subtitle {
    font-size: 2vw;
    font-family: Roboto-Bold;
}

.chapter_buttons {
    font-family: Roboto-Regular;
}


.contact>p {
    font-family: Roboto-Medium;
    font-size: 1.5vw;
    line-height: 1.8rem;
    letter-spacing: .3rem;
    width: 90%;
}

.contact_table {
    width: 90%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.contact_table p {
    border-bottom: 2px solid #000000a6;
    padding: 4% 0;
    display: flex;
    align-items: center;
}

.contact_table a {
    color: black !important;
}

.credits-authors {
    font-family: Roboto-Medium;
    text-align: center;
    font-size: 1.5vw;
    letter-spacing: .3rem;
}

.credits {
    margin-top: 4%;
}
.try_again_container{
    display: flex;
    justify-content: center;
}
#section1,
#section2,
#section3,
#section4,
#section5,
#section6,
#section7,
#section8,
#section9,
#section10 {
    display: none;
}

 /*loader*/
 .loader-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--mainBackgroundColor);
    z-index: 1000;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: black;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*loader end*/